html{
    font-size: 18px;
    color: white;
}
.main-container{
    width:960px;
}
.header{
    background-color: black;
    
    font-family:Helvetica;
    font-size:1rem;
    display: flex;
    align-content: center;

}
.logo-image{
    height:1.5rem;
    
    padding-right: 1rem;
    padding-left: 0.5rem;
}

.logo-image, .header span{
    padding-top: 0.66rem;
    padding-bottom: 0.66rem;
}

.banner{
    background-image: url('././images/moto.jpeg');
    height: 25rem;
}
.banner-title{
    width: 20rem;
    display: flex;
    flex-direction: column;
    background-color: black;
}
.new-arrival{
    font-family: Helvetica;
    font-size: 1rem;
    font-weight: bold;
    padding-top: 2rem;
}
.sport-bike{
    font-family:Helvetica;
    font-size:2rem;
    font-weight: bold;
    padding-top: 0.25rem;
    padding-bottom: 2rem;
}
.navbar{
    background-color: firebrick;
}
.navbar ul{
    display:flex;
    justify-content: space-around;
}
.navbar li{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-family: Helvetica;
    font-weight: bold;

}
