html{
    font-size: 18px;
}
.main-container{
    width:960px;
}
.header{
    background-color: black;
    color: white;
    font-family:Helvetica;
    font-size:1rem;
    display: flex;
    align-content: center;

}
.logo-image{
    height:1.5rem;
    
    padding-right: 1rem;
    padding-left: 0.5rem;
}

.logo-image, .header span{
    padding-top: 0.66rem;
    padding-bottom: 0.66rem;
}

.banner{
    background-image: url('././images/moto.jpeg');
}